@if (opened) {
<div class="test-details-modal" (click)="close.emit()">
  <div class="modal-content" (click)="$event.stopPropagation()">
		<div class="modal-header">
			<h3>Fluxo Gerar com IA</h3>
			<button mat-icon-button (click)="togglePause.emit()" [title]="paused ? 'Retomar' : 'Pausar'">
				<mat-icon>{{ paused ? 'play_arrow' : 'pause' }}</mat-icon>
			</button>
			<button mat-icon-button (click)="close.emit()" class="close-modal">
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<div class="modal-body">
			<div class="all-tests-execution">
				<div class="execution-output running">
					<div class="output-content" [innerHTML]="logHtml"></div>
				</div>
      </div>
    </div>
  </div>
</div>
}


